.timeline-editor{
  &-time-area {
    position: relative;
    height: 32px;
    flex: 0 0 auto;
    border-bottom: 1px solid #333333;

    .ReactVirtualized__Grid {
      outline: none;
      overflow: hidden !important;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-interact {
      position: absolute;
      left: 0;
      top: 0;
      touch-action: none;
    }
  }

  &-time-unit {
    position: relative;
    box-sizing: content-box;
    height: 32px !important;
    bottom: 0 !important;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &-big {
      height: 32px !important;
      border-right: none;
    }
  }

  &-time-unit-scale {
    color: fade(#fff, 60);
    position: absolute;
    top: 4px;
    transform: translate(-50%, 0);
    text-align: center;
    white-space: nowrap;
  }

  &-time-unit-dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: fade(#fff, 15);
  }
}

.timeline-editor {
  &-time-hover-tooltip-inline {
    position: absolute;
    pointer-events: none;
    z-index: 10;
    
    // 1. 基础文字样式：与刻度文字保持一致
    color: fade(#fff, 90);
    font-size: 9px;
    white-space: nowrap;
    transform: translateX(-50%); // 居中对齐鼠标所在的像素点
    
    // 2. 视觉背景（可选）：为了在复杂刻度下看清，可以加个半透明深色底或圆角边框
    // 参照 image_dbed93.png 的效果
    background: #333333; // 半透明背景
    padding: 0 4px;
    border-radius: 5px;
    
    // 3. 动画：让出现更顺滑（可选）
    transition: opacity 0.1s;
  }

  &-time-selected-range {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 22px;
    background: fade(#BC7FFF, 15);
    border-radius: 8px;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-time-selected-range-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 2px); /* 确保上下各 2px 间隙 */
    line-height: calc(100% - 2px);
    box-sizing: border-box;
    color: #FEA2F2;
    font-size: 10px;
    background: #121600;
    padding: 0 6px;
    border-radius: 6px;
    pointer-events: none;
  }
}